# Return purchase panel

In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import date
from datetime import datetime

pd.set_option('display.max_columns', 500)


Symbols  = ["BBVA.MC", "MEL.MC","TEF.MC","ACS.MC","SAN.MC","SAB.MC", "ITX.MC", "ANA.MC", "GRF.MC", "AENA.MC",
 "FER.MC","BKT.MC", "IBE.MC","ACX.MC","MTS.MC", "REE.MC", "AMS.MC", "VIS.MC", "IAG.MC", "SGRE.MC","MAP.MC",
 "COL.MC", "PHM.MC", "CLNX.MC", "ENG.MC",  "ELE.MC", "NTGY.MC","REP.MC", "MRL.MC","CABK.MC", "BKIA.MC", 
 "CIE.MC","IDR.MC","SLR.MC", "ALM.MC"]



Names = ["Banco Bilbao Vizcaya Argentaria, S.A.","Meliá Hotels International, S.A.",
"Telefónica, S.A.","ACS, Actividades de Construcción y Servicios, S.A.","Banco Santander, S.A.",
"Banco de Sabadell, S.A.","Industria de Diseño Textil, S.A.","Acciona, S.A.","Grifols, S.A.",
"Aena S.M.E., S.A.","Ferrovial, S.A.","Bankinter, S.A.","Iberdrola, S.A.","Acerinox, S.A.","ArcelorMittal","Red Eléctrica Corporación, S.A.",
"Amadeus IT Group, S.A.","Viscofan, S.A.","International Consolidated Airlines Group, S.A.","Siemens Gamesa Renewable Energy, S.A.",
"Mapfre, S.A.","Inmobiliaria Colonial, SOCIMI, S.A.","Pharma Mar, S.A.","Cellnex Telecom, S.A.","Enagás, S.A.",
"Endesa, Sociedad Anonima","Naturgy Energy Group, S.A.","Repsol, S.A.",
"MERLIN Properties SOCIMI, S.A.","CaixaBank, S.A.","Bankia","CIE Automotive", "Indra","Solaria Energía y Medio Ambiente, S.A.",
"Almirall, S.A"]


IbexNames = pd.DataFrame(
{
    'Companie' : Names,
    'Symbol' : Symbols
})


# If I want to always take data from 3 months ago

DATE = str(date.today().day) + '-' + str(date.today().month - 3) + '-' + str(date.today().year)

panel_data = data.DataReader(Symbols, 'yahoo', start= DATE)


df = pd.DataFrame(panel_data['Adj Close'])

C:\Users\Usuario\anaconda3\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'BKIA.MC', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [2]:
empty_df = pd.DataFrame()

for i in Symbols:
    rent =  np.diff(np.log(df[i]))
    x = i 
    #print(x)
    empty_df[x] = np.where(rent < np.quantile(rent, 0.15),  1, 0)
    #y = i + '_sell'
    #profits[y] = np.where(rent > np.quantile(rent, 0.75),  np.diff(data[i]), 0)

In [3]:
# get today value
purchase_serie = pd.DataFrame(empty_df.iloc[-1, :])

purchase_serie.reset_index(inplace = True)
purchase_serie.set_axis(['Symbols', 'purchase'], axis=1, inplace=True)


# get the prices
prices = pd.DataFrame(df.iloc[-1, :])
prices.reset_index(inplace= True)

purchase_serie = purchase_serie.merge(prices, on = 'Symbols', how = 'inner')

purchase_serie[purchase_serie['purchase'] == 1]

    Symbols  purchase  2021-08-31 00:00:00
23  CLNX.MC         1                58.48